<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcd.strive.dao.BookMapper">
    <resultMap id="basicResultMap" type="com.hongcd.strive.entity.Book">

    </resultMap>
    <select id="findAll" ></select>
</mapper>